@font-face {
    font-family: dejaVu;
    src: url('../fonts/DejaVuSans-Bold.ttf');
}

@font-face {
    font-family: cormorant;
    src: url('../fonts/Cormorant-Light.otf');
}

@font-face {
    font-family: rockybilly;
    src: url('../fonts/Rockybilly.ttf');
}


body 
{
background-color: #e7edf2;    
font-family: cormorant;

}
#content 
{
width: 50%;
height: auto;
margin: auto;
background-color: #ffffff;
padding: 25px;  
margin-top: 5%;
border-top: solid 5px #3d9bdc;  
display: flex;
flex-direction: row;
}
.user_img
{
width: 30%;
height: auto;
border-right: solid 1px lightgray;
padding: 25px;
/* font-family: rockybilly;
font-size: 12px; */
}
.user_info
{
width: 70%;
height: auto;
padding: 25px;
}
.user_img img 
{
border-radius: 50%;
}
#btn 
{
width: 50px;
height: 40px;
border: solid 2px red;    
font-size: 20px;
background-color: white;
}