body 
{
 background-color: coral;   
}
h1 
{
color: red;    
}
h2 
{
color: blueviolet;    
}
h3 
{
color: aqua;    
}
h4 
{
color: palegreen;    
}
h5 
{
color: yellowgreen;    
}

h6 
{
color: yellow;    
}